<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Performance Ratings</title>
</head>
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
    }

    h1 {
        text-align: center;
        margin-top: 20px;
    }

    form {
        max-width: 600px;
        margin: 0 auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    h2 {
        margin-top: 20px;
    }

    div {
        margin-bottom: 20px;
    }

    label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }

    select {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    input[type="text"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    button {
        display: block;
        width: 100%;
        padding: 10px;
        background-color: #007BFF;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }
</style>

<body>
    <h1>Performance Ratings</h1>
    <form action="http://103.217.85.148:8080/submit-ratings" method="POST">

        <div>
            <h2> <label for="company-name">Company Name:</label></h2>
            <input type="text" name="companyName" id="company-name" required>
        </div>
        <% let currentArea='' ; %>
            <% for (let i=0; i < indicators.length; i++) { %>
                <% if (indicators[i].Area !==currentArea) { %>
                    <% currentArea=indicators[i].Area; %>
                        <h2>
                            <%= currentArea %>
                        </h2>
                        <% } %>
                            <div>
                                <h3>
                                    <%= indicators[i]["Performance Indicator"] %>
                                </h3>
                                <label for="<%= 'rating-' + i %>">Rate (0-10): </label>
                                <select name="<%= 'rating-' + i %>" id="<%= 'rating-' + i %>" required>
                                    <% for (let j=0; j <=10; j++) { %>
                                        <option value="<%= j %>">
                                            <%= j %>
                                        </option>
                                        <% } %>
                                </select>
                            </div>
                            <% } %>
                                <button type="submit">Submit Ratings</button>
    </form>
</body>

</html>